<section>
  <div class="page-header">
    <h1>{{vm.travelBlog._id ? 'Edit TravelBlog' : 'New TravelBlog'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.travelBlog._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.travelBlogForm" class="form-horizontal" ng-submit="vm.save(vm.form.travelBlogForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="title">Title</label>
          <input name="title" type="text" ng-model="vm.travelBlog.title" id="title" class="form-control" placeholder="Title" required autofocus>
          <div ng-messages="vm.form.travelBlogForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">TravelBlog title is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="destination">Destination</label>
          <input name="destination" type="text" ng-model="vm.travelBlog.destination" id="destination" class="form-control" placeholder="Destination" required autofocus>
          <div ng-messages="vm.form.travelBlogForm.destination.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Destination is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="travel_time_start">Travel Time</label>
          <div class="input-group" id="datepicker">
            <input type="text" class="form-control" name="travel_time_start" ng-model="vm.travelBlog.travel_time_start" placeholder="Start Date (YYYY-MM-DD)" required/>
            <span class="input-group-addon">to</span>
            <input type="text" class="form-control" name="travel_time_end" ng-model="vm.travelBlog.travel_time_end" placeholder="End Date (YYYY-MM-DD)" required/>
          </div>
          <div ng-messages="vm.form.travelBlogForm.travel_time_start.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Start Date is required.</p>
          </div>
          <div ng-messages="vm.form.travelBlogForm.travel_time_end.$error" role="alert">
            <p class="help-block error-text" ng-message="required">End Date is required.</p>
          </div>
        </div>



        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" data-ng-model="vm.travelBlog.description" id="description" class="form-control" cols="30" rows="3" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">{{vm.travelBlog._id ? 'Update' : 'Create'}}</button>
          <a class="btn btn-default" ng-click="vm.cancel()">Cancel</a>
        </div>


      </fieldset>
    </form>
  </div>
</section>
