<section>
  <a class="btn btn-primary pull-right" data-ui-sref="admin.posts.create({ travelBlogId: vm.travelBlog._id })">
    <i class="glyphicon glyphicon-plus"></i>
  </a>
  <a class="btn btn-primary pull-right" style="margin-right: 5px;" data-ui-sref="admin.travelBlogs.edit({ travelBlogId: vm.travelBlog._id })">
    <i class="glyphicon glyphicon-edit"></i>
  </a>
  <div class="page-header">
    <h1>{{vm.travelBlog.title}}</h1>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.travelBlog.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.travelBlog.user" ng-bind="vm.travelBlog.user.displayName"></span>
      <span ng-if="!vm.travelBlog.user">Deleted User</span>
    </em>
  </small>

  <strong class="pull-right">{{vm.travelBlog.travel_time_start | date:'mediumDate'}} - {{vm.travelBlog.travel_time_end | date:'mediumDate'}}</strong>
  <br>
  <br>

  <p class="lead" ng-bind="vm.travelBlog.description"></p>

  <div class="panel panel-default" ng-repeat="post in vm.posts">
    <div class="panel-heading">
      <h3 class="panel-title">{{post.dateTime | date:'mediumDate'}} {{post.title}} <span class="pull-right">{{post.location}}</span></h3>
    </div>
    <div class="panel-body">
      <a class="btn btn-primary pull-right" data-ui-sref="admin.posts.edit({ travelBlogId: vm.travelBlog._id, postId: post._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <br>
      <br>
      <center>
        <img width="1000" height="300" src="{{post.imgLink}}" ng-show="post.imgLink">
      </center>
      <br>
      <p>{{post.description}}</p>
      <small class="pull-right">
        <em class="text-muted">
          Posted on
          <span ng-bind="post.created | date:'mediumDate'"></span>
          by
          <span ng-if="post.user" ng-bind="post.user.displayName"></span>
          <span ng-if="!post.user">Deleted User</span>
        </em>
      </small>
    </div>
  </div>

</section>
